body{
    text-align: center;
    background-color: rgb(45, 40, 45);
    color: white;
}
img{
    border-radius: 2rem;
}
.name{
    font-size: 4rem;
    text-shadow: 2px 2px 3px black;
}
img{
    box-shadow: 20px 20px 10px grey;
} 
.link{
    color: black!important;
}